.genres-container {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 1rem;
  align-items: center;
  color: gray;
  .link {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: transparent;
    border: none;
    color: gray;
    text-decoration: none;
    font-size: 0.8rem;
    border: 0.4px solid #e3e3e3;
    padding: 4px 6px;
    border-radius: 20px;
  }
  .active-genre {
    color: #fff;
    background-color: #57c4dc;
  }
}
